h1 {
    font-size: var(--font-h1);
    line-height: 1.4;
}

h2 {
    font-size: var(--font-h2);
    line-height: 1.4;
}

h3 {
    font-size: var(--font-h3);
    line-height: 1.4;
}

.text--gray {
    color: var(--gray);
}

.text--red {
    color: var(--red);
}