{% macro form_errors (errors=[]) %}
    {% for error in errors %}
        <span class="text--red">{{ error }}</span>
    {% endfor %}
{% endmacro %}


{% macro select_field (name='', choices=[]) %}
    <select name="{{ name }}" id="{{ name }}" aria-label="{{ name }}">
        <option value=null selected disabled>Choose an option...</option>
        {% for choice in choices %}
            <option value="{{ choice[0] }}">{{ choice[1] }}</option>
        {% endfor %}
        {{ form.category.options }}
    </select>
{% endmacro %}

