{% extends 'base.html' %}
{% from "components/macros.html" import cta_button %}
{% from "components/macros.html" import form_errors %}

{% block title %}Play{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">
{% endblock %}

{% block content %}
    <section class="form-wrapper">
        <h1>Play</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.name.label }}
                {{ form.name }}

                {{ form_errors(form.name.errors) }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn--full") }}
            </div>
        </form>
    </section>
{% endblock %}