{% extends 'base.html' %}

{% block title %}{{winner}} wins!{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}">
{% endblock %}

{% block content %}
<section class="form-wrapper">
    <h1>Game Completed!</h1>
    <h2>The winner is: {{winner}}</h2>

    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.submit(class="btn btn--playagain") }}
        </div>

    </form>
</section>
{% endblock %}