{% extends 'base.html' %}
{% from "components/macros.html" import cta_button %}
{% from "components/macros.html" import form_errors %}

{% block title %}Play{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">
{% endblock %}

{% block content %}
    <section class="form-wrapper">
        <h1>Play</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.playername.label }}
                {{ form.playername }}

                {{ form_errors(form.playername.errors) }}
            </div>
            <div class="content-section">	
                <p>Countries:</p>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">account_number</th>
                      <th scope="col">cpr_number</th>
                      <th scope="col">creation date</th>
                    </tr>
                  </thead>
                  <!-- <tbody>
                  {% for n in countries %}
                    <tr>
                      <th scope="row">{{n[0]}}</th>
                      <td>{{n[1]}}</td>
                    </tr>
                  {% endfor %}
                  {% for n in clubs %}
                    <tr>
                      <th scope="row">{{n[0]}}</th>
                      <td>{{n[1]}}</td>
                    </tr>
                  {% endfor %}
                  </tbody> -->
                  <p>{{game[0][0]}}</p>
                  {% for n in game %}
                    <tr>
                      <th scope="row">{{n[0]}}</th>
                      <td>{{n[1]}}</td>
                      <td>{{n[2]}}</td>
                      <td>{{n[3]}}</td>
                      <td>{{n[4]}}</td>
                    </tr>
                  {% endfor %}
                </table>  
              </div>
            <div class="form-group">
                {{ form.submit(class="btn btn--full") }}
            </div>

        </form>
    </section>
{% endblock %}