{% extends 'base.html' %}
{% from "components/macros.html" import cta_button %}
{% from "components/macros.html" import form_errors %}

{% block title %}Play{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/game.css') }}">
{% endblock %}

{% block content %}
<section class="form-wrapper">
    <h1>Game has completed!</h1>
    <h2>The winner is: </h2>
    <div>{{winner}}</div>

    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.submit(class="btn btn--playagain") }}
        </div>

    </form>
</section>
{% endblock %}