{% extends 'base.html' %}

{% block title %}Play{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/game.css') }}">
{% endblock %}

{% block content %}
<section class="form-wrapper">
    <h1>No more clubs available! Expand the database!</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.submit(class="btn btn--playagain") }}
        </div>

    </form>
</section>
{% endblock %}