{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
    <h1>
        About Green Groceries
    </h1>

    <section>
        <h2>We help farmers run their ranches!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut, cum delectus, deleniti doloremque
            doloribus
            exercitationem hic nam nobis non officia quae quisquam quod reprehenderit repudiandae rerum suscipit,
            tempora unde.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur consequuntur delectus dolore
            dolores esse eveniet, exercitationem fugiat illum inventore molestias nam necessitatibus obcaecati optio
            perspiciatis placeat, recusandae sunt, tempore.
        </p>
    </section>

    <section>
        <h2>We provide quality, healthy and cheap products!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad, architecto asperiores atque illo, laborum
            libero maiores molestiae nihil non numquam odit, ratione reprehenderit repudiandae sunt temporibus vel.
            Quis, quod!
        </p>
    </section>

    <section>
        <h2>100% natural methods used!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad, architecto asperiores atque illo, laborum
            libero maiores molestiae nihil non numquam odit, ratione reprehenderit repudiandae sunt temporibus vel.
            Quis, quod!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda blanditiis commodi consequuntur
            delectus, dolores eius exercitationem labore laudantium maiores molestias nostrum officia omnis, optio
            placeat, provident quos ratione saepe.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cum cumque maxime, mollitia nam officiis
            provident reprehenderit sint sunt unde? Accusantium deserunt distinctio, error itaque labore laborum modi
            molestiae nam.
        </p>
    </section>

    <section>
        <h2>Same-day delivery assured!</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad, architecto asperiores atque illo, laborum
            libero maiores molestiae nihil non numquam odit, ratione reprehenderit repudiandae sunt temporibus vel.
            Quis, quod!
        </p>
    </section>
{% endblock %}