{% extends 'base.html' %}
{% from 'components/macros.html' import select_field, filter_produce_form, produce_card %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produce.css') }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>Find specific produce</h2>
    <h3 class="text--gray">
        Try filtering produce by your needs and see what you can find!
    </h3>
    {{ filter_produce_form(form=form) }}
    <div class="produce">
        {% if produce|length %}
            {% for product in produce %}
                {{ produce_card(product=product) }}
            {% endfor %}
        {% else %}
            <h3 class="text--gray">
                No products found for selected filters
            </h3>
        {% endif %}
    </div>
{% endblock %}