{% extends 'base.html' %}
{% from "components/macros.html" import form_errors, produce_card %}

{% block title %}Restock produce{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">
{% endblock %}

{% block content %}
    <section class="form-wrapper">
        <h2 style="text-align: center">Are you sure you want to restock this produce?</h2>
        {{ produce_card(product=produce, show_checkout=False, show_restock=False) }}
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="form--row"
                 style="width: 80%; display: flex; justify-content: space-between; max-width: unset; margin:auto">
                <button class="btn btn--tertiary text--gray" onclick="history.back()">No, go back</button>
                {{ form.submit(class='btn') }}
            </div>
        </form>
    </section>
{% endblock %}