{% extends 'base.html' %}

{% block title %}
    Style Guide
{% endblock %}

{% block css %}
    <style>
        ul {
            margin-left: var(--margin-lg);
        }

        li {
            margin: var(--margin-md) 0;
        }

        section {
            margin: var(--margin-lg) 0;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="title">
        Green Groceries Style Guide
    </h1>

    <section>
        <h2>Text</h2>
        <ul>
            <li>
                Title: <h1>Lorem ipsum dolor sit amet.</h1>
            </li>
            <li>
                Subtitle: <h2>Lorem ipsum dolor sit amet.</h2>
            </li>
            <li>
                Heading: <h3>Lorem ipsum dolor sit amet.</h3>
            </li>
            <li>
                Text: <p>Lorem ipsum dolor sit amet.</p>
            </li>
        </ul>
    </section>

    <section>
        <h2>Buttons</h2>
        <ul>
            <li>
                Primary (CTA):
                <button class="btn">Click here</button>
            </li>
            <li>
                <div>Secondary:
                    <button class="btn btn--secondary">Click here</button>
                </div>
            </li>
            <li>
                <div>Tertiary:
                    <button class="btn btn--tertiary">Click here</button>
                </div>
            </li>
            <li>
                <div>Danger:
                    <button class="btn btn--danger">Click here</button>
                </div>
            </li>
        </ul>
    </section>

    <section>
        <h2>Inputs</h2>
        <ul>
            <li>
                Text:
                <input type="text" aria-label="text" placeholder="Tell us your name...">
            </li>
            <li>
                Select:
                <select aria-label="select">
                    <option value="null" selected disabled>Choose an option</option>
                </select>
            </li>
            <li>
                Checkboxes:
                <input type="checkbox" aria-label="checkbox"/>
                <input type="radio" aria-label="radio"/>
            </li>
        </ul>
    </section>
{% endblock %}