<nav>
    <div>
        <div class="links-wrapper">
            <a href="{{ url_for("Login.home") }}">Home</a>
            <a href="{{ url_for("Produce.produce") }}">All Produce</a>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for("Produce.add_produce") }}">Add Produce</a>
            <a href="{{ url_for("Produce.your_produce") }}">Your Produce</a>
            <a href="{{ url_for("Produce.your_orders") }}">Your Orders</a>
            {% endif %}
        </div>

        <div class="links-wrapper">
            {% if current_user.is_authenticated %}
                <span class="text--gray">Logged in as: {{ current_user.user_name }}</span>
                <a href="{{ url_for("Login.logout") }}">Logout</a>
            {% else %}
                <a class="text--gray" href="{{ url_for("Login.signup") }}">Sign up</a>
                <a href="{{ url_for("Login.login") }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>